* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f8f8f8;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding-top: 0.1px;
  position: relative;
}
body::-webkit-scrollbar {
  background-color: transparent;
  /* height: 2px; */
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: orangered;
}

/**------------------------------------ navigation---------------------------------------------------------- */

#nav {
  width: 100%;
  height: 12vh;
  /* background-color: red; */
  margin-top: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  /* background-color: yellow; */
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monument;
  font-size: 45px;
  letter-spacing: -2px;
}
#nav h1::after {
  content: "©";
  font-family: gilroy;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  top: 7%;
  left: 17.8%;
}
#nav h1::before {
  content: "model management";
  font-family: gilroy;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #666;
  left: 8%;
  top: 13%;
}

#nav h2 {
  /* background-color: yellow; */
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
  font-size: 22px;
  font-weight: 600;
}
#nav h2:nth-last-child(2) {
  width: 30%;
}

#nav h2:nth-last-child(1) {
  width: 10%;
}

/* *------------------------------------------------center------------------------------------------------------  */
#center {
  height: 90%;
  width: 100%;
  /* background-color: red; */
  padding: 4vw;
  position: relative;
}
#content {
  width: 100%;
  height: 100%;
  background-color: blue;
  position: relative;
}
#content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3vw;
  color: #fff;

  /* thoda sa dark ,transperant karke backdrop-filter: blur(10px) daal denge to blur wla effect aayega */
  /* background-color: #00000056;
  backdrop-filter: blur(10px); */
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2vw;
}
#over1 h1 {
  font-family: monument;
  font-size: 3.5vw;
}
#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  /* background-color: blue; */
  border-radius: 50%;
  border: 1px solid #fff;
  border-bottom: 5px solid #fff;
}
#over2 {
  border-top: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 0;
}
#over2 h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
#over2 img {
  height: 5vw;
}

/**------------------------------------------------ scroll---------------------------------------------------- */

#scroll {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  /* padding: 1vw; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  height: 100%;
  width: 110%;
  /* background-color: blue; */
  display: inline-block;
  padding: 2vw;
  animation-name: anime;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll img {
  /* display: none; */
  height: 100%;
  border-radius: 50%;
  width: 15%;
  object-fit: cover;
  object-position: top;
  margin: 1vw;
}
@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/**---------------------------------------------- alphabet-------------------------------------------------- */

#alphabet {
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  gap: 1vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#alphabet h5 {
  font-size: 1.7vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000;
  margin-right: 2vw;
}
#alphabet h6 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  /* background-color: yellow; */
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #00000000;

  transition: all ease 0.2s;
}
#alphabet h6:hover {
  border: 1px solid #000;
}

/* *-----------------------------------------------page2-----------------------------------------*/

#page2 {
  margin-top: 4vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5vw 1.2vw;
  /* padding: 4vw; */
}
#page2-part1 {
  margin-left: 1vw;
  height: 100%;
  width: 55%;
  background-image: url(https://i.pinimg.com/enabled_lo/564x/ce/46/25/ce4625254b74bde1207c802bbd9211be.jpg);
  /* background-color: red; */
  background-size: cover;
  background-position: center;
}
#page2-part2 {
  height: 100%;
  width: 35%;
  /* background-image: url(https://i.pinimg.com/564x/b2/d7/99/b2d799fbfb59647b638a0e00ee9f4735.jpg); */
  /* background-color: rgb(16, 174, 8); */
  position: relative;
}
#page2-part2 img {
  width: 100%;
  height: 76%;
  object-fit: cover;
  object-position: top;
}

#page2-text {
  margin-top: 0.3vw;
  display: flex;
  gap: 1vw;
}
#left-text {
  font-size: 1.3vw;
  padding: 0.8vw;
  font-weight: 600;
  /* background-color: red; */
}
#right-text {
  /* background-color: yellow; */
  padding: 0.8vw;
  font-size: 1vw;
  font-weight: 600;
  /* width: 95%; */
}

/* *-----------------------------------------------page3-----------------------------------------*/
#page3 {
  margin-top: 0.5vw;
  padding: 0vw 4vw;
  width: 100%;
  height: 100%;
}
#page3 h2 {
  font-size: 2.4vw;
  font-family: monument;
  /* background-color: red; */
  padding-left: 0.8vw;
  padding-bottom: 2vw;
}

#page3-content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3.5vw;
  margin-top: 2vw;
}

#page3-left {
  margin-left: 0.5vw;
  width: 40%;
  height: 90%;
  /* background-color: red; */
  position: relative;
}
#ltop {
  width: 100%;
  height: 75%;
  /* background-color: violet; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/** ------------------------------------page3 round---------------------------------------------------  */
#round {
  height: 50%;
  width: 50%;
}
#circle {
  position: relative;
  font-size: 1.5vw;
  text-transform: uppercase;
  animation-name: round;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: black;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* border-radius: 50%; */
  /* background-image: url(circle-arrow.png); */
  background-position: center;
  background-size: cover;
  font-weight: 900;
}
#circle img {
  width: 100%;
  height: 100%;
  /* font-size: 500px; */
}
@keyframes round {
  100% {
    transform: rotate(360deg);
  }
}
#round {
  position: relative;
}
#icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lbottom {
  width: 100%;
  height: 25%;
  /* background-color: aquamarine; */
}
#lbottom h2 {
  padding-top: 5vw;
  position: relative;
  /* padding: 1vw; */
  font-family: gilroy;
  font-size: 1.6vw;
  font-weight: 600;
  bottom: 0;
}

#page3-right {
  margin-left: 4vw;
  width: 60%;
  height: 90%;
  /* background-color: yellow; */
  background-image: url(https://images.ctfassets.net/2stk9dntpgwb/7i19vPuAqIiLdeWhg8e1O9/5ac01eaa351637260153ca3b0553f5d2/1IMG_4681.jpeg?fm=jpg&fl=progressive);
  background-size: cover;
  background-position: center;
}

/* *-------------------------------------*page4------------------------------------------------------------ */
#page4 {
  width: 91.5%;
  height: 90%;
  background-color: red;
  margin-top: 7vw;
  margin-left: 4.5vw;
  margin-right: 4.5vw;
  /* background-image: url(https://assets.vogue.com/photos/6054eb9c294f854267643048/16:9/w_1920%2Cc_limit/08_Nadine%2520Ijewere_Orange%2520Dress%2C%25202018%2520adS%2520Joy%2520as%2520an%2520Act%2520of%2520Resistance%2520fuer%2520I-D%2520Magazine_c_Nadine%2520Ijewere.jpg); */
  /* background-image: url(https://cdn.pixabay.com/photo/2022/01/23/08/27/fashion-model-6960097_1280.jpg); */
  background-image: url(https://images.unsplash.com/photo-1528858755052-cacfa0dd164a?q=80&w=2046&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 60%;
}

/* *------------------------------------------page5------------------------------------------------- */
#page5 {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  padding: 6vw 4.5vw;
  position: relative;
}
#page5 > h1 {
  text-align: center;
  font-family: monument;
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 5vw;
}

.elem {
  height: 16vh;
  width: 100%;
  /* background-color: red; */
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
  transition: all ease 0.7s;
}
.elem img {
  width: 112px;
  height: 112px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  left: 12%;
  transition: all ease 0.7s;
  opacity: 0;
}
.elem:nth-last-child(1) img {
  left: 40%;
}
.elem:nth-last-child(3) img {
  left: 40%;
}
.elem:hover img {
  opacity: 1;
  left: 24%;
}
.elem:hover {
  background-color: #272626;
  color: #fff;
}

.elem h4 {
  font-size: 1.1vw;
  /* background-color: red; */
  text-transform: uppercase;
  width: 6%;
}
.elem .elem-part2 {
  /* background-color: red; */
  width: 45%;
}
.elem-part2 h1 {
  font-size: 2.7vw;
  font-weight: 500;
}
.elem-part2 h5 {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
}
.elem:nth-last-child(1) {
  border-bottom: 2px solid #000;
}

/* *--------------------------------------page6-------------------------------------------------- */

#page6 {
  width: 100%;
  height: 297%;
  /* background-color: gray; */
  padding: 5vw 4.5vw;
  margin-bottom: 9vw;
}
#page6-part1 {
  width: 100%;
  height: 33%;
  /* background-color: red; */
  position: relative;
  display: flex;
}
#p6p1left {
  width: 45%;
  height: 100%;
  /* background-color: violet; */
  background-image: url(https://imgs.search.brave.com/x6T7wafqimhyuuZ66-tungaa-dnnuP808CSMSowQ5pc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1QlpqSmhNek0y/TVdRdE1qUTJaUzAw/TkdKa0xUZ3hOamN0/TlRKbE5HUmlabUky/TVRNMVhrRXlYa0Zx/Y0djQC5qcGc);
  background-size: cover;
}
#p6p1right {
  padding-top: 1vw;
  margin-left: 5%;
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  position: relative;
}
#p6p1right h1 {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: monument;
}
#p6p1right h3 {
  margin-top: 2vw;
  font-size: 1.5vw;
  font-weight: 600;
  width: 50%;
}
#p6p1right p {
  font-size: 1vw;
  margin-top: 2vw;
  width: 90%;
  font-weight: 900;
}
#p6p1right-bottm {
  width: 100%;
  height: 54.5%;
  /* background-color: blue; */
  margin-top: 3.5vw;
  display: flex;
  gap: 3vw;
}
#p6p1rbleft {
  width: 60%;
  height: 100%;
  background-color: brown;
  background-image: url(https://images.unsplash.com/photo-1685722333852-31581e5620dc?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}
#p6p1rbright {
  width: 40%;
  height: 100%;
  background-color: navy;
  background-image: url(https://images.unsplash.com/photo-1699782936322-0c5f903c4124?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
#page6-part2 {
  width: 100%;
  height: 33%;
  background-color: yellow;
  /* padding: 5vw 0; */
  margin: 5vw 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/14/03/02/woman-1822454_1280.jpg);
  background-size: cover;
  background-position: center;
}
/** --------------------------------------------------page6-part3------------------------------------------------------------- */
#page6-part3 {
  width: 100%;
  height: 33%;
  /* background-color: orange; */
  display: flex;
  margin-top: 4vw;
  align-items: center;
  justify-content: space-around;
  /* padding: 1.5vw 1.2vw; */
}

#page6-p3-p1 {
  height: 100%;
  width: 60%;
  margin-right: 4.5vw;
  background-image: url(https://images.unsplash.com/photo-1697072414859-7dfa904acbc1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  /* background-color: red; */
  background-size: cover;
  background-position: 0 45%;
}
#page6-p3-p2 {
  height: 100%;
  width: 35%;
  /* background-image: url(https://i.pinimg.com/564x/b2/d7/99/b2d799fbfb59647b638a0e00ee9f4735.jpg); */
  /* background-color: rgb(16, 174, 8); */
  position: relative;
}
#page6-p3-p2 img {
  width: 100%;
  height: 76%;
  object-fit: cover;
  object-position: bottom;
}

#page6-p3-text {
  margin-top: 0.3vw;
  display: flex;
  /* gap: 1vw; */
  width: 100%;
}
#p6-left-text {
  font-size: 1.2vw;
  padding-top: 0.8vw;
  font-weight: 600;
  /* background-color: red; */
}
#p6-right-text {
  /* background-color: yellow; */
  margin-left: 4vw;
  padding-top: 0.8vw;
  font-size: 1vw;
  font-weight: 600;
}
/** ----------------------------------------marque----------------------------------------- */
#marque {
  margin-top: 10vw;
  width: 100%;
  /* background-color: red; */
  white-space: nowrap;
  padding: 0.8vw;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#marque h1 {
  display: inline-block;
  font-size: 3.4vw;
  -webkit-text-stroke: 1px black;
  color: transparent;
  text-transform: uppercase;
  font-family: monument;
  /* background-color: blue; */
  margin-right: 16px;
  letter-spacing: 3px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/**-----------------------------------------------*page7--------------------------------------------- */

#page7 {
  margin-top: 6vw;
  padding: 0 4vw;
  width: 100%;
  height: 90%;
  /* background-color: #000; */
  display: flex;
  justify-content: space-around;
}
#page7 h1 {
  padding-top: 1vw;
  width: 20%;
  height: 60%;
  /* margin-right: 4vw; */
  font-size: 3vw;
  font-family: monument;
  text-transform: uppercase;
  /* background-color: blueviolet; */
}
.page7-elem {
  width: 35%;
  height: 80%;
  padding: 1vw;
  /* background-color: red; */
  gap: 5vw;
}
#page7-elem-top {
  /* padding: 2vw; */
  height: 30%;
  width: 100%;
  /* background-color: yellow; */
  margin-bottom: 5%;
}
#page7-elem-top h2 {
  font-size: 1.5vw;
  line-height: 1.8vw;
}
#page7-elem-top h2 > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  margin-right: 3px;
}
#page7-elem-bottom {
  height: 60%;
  width: 100%;
  background-color: pink;
  /* background-image: url(https://images.unsplash.com/photo-1652517457739-9443343b803d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover; */
}

#page7-elem-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/** ------------------------------------------footer--------------------------------------------  */
#footer {
  width: 100%;
  height: 35%;
  /* background-color: orange; */
  display: grid;
  grid-template-columns: 25% 15% 20% 40%;
  grid-template-rows: 40% 60%;
  /* padding: 0 5vw; */
  padding-left: 4.5vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#footer h2 {
  font-size: 1.3vw;
}
#logo-text {
  /* background-color: red; */
  grid-row: 1/3;
  grid-column: 1;
  padding-top: 2vw;
  position: relative;
}
#logo-text h1 {
  font-family: monument;
  font-size: 2.8vw;
}
#logo-text h1::after {
  content: "©";
  font-family: gilroy;
  font-size: 25px;
  position: absolute;
}
#logo-text h1::before {
  content: "model management";
  font-family: gilroy;
  font-size: 15px;
  position: absolute;
  top: 26%;
  left: 30%;
  color: #666;
}
#model {
  /* background-color: yellow; */
  grid-row: 1/3;
  grid-column: 2;
  text-align: center;
  padding-top: 2vw;
  border-right: 2px solid #000;
}
#women {
  /* background-color: pink; */
  grid-row: 1/3;
  grid-column: 3;
  text-align: center;
  padding-top: 2vw;
  border-right: 2px solid #000;
}
#agency {
  /* background-color: navy; */
  grid-column: 4;
  grid-row: 1;
  /* text-align: center; */
  padding-left: 4vw;
  padding-top: 2vw;
  border-bottom: 2px solid #000;
}
#contact-info {
  /* background-color: greenyellow; */
  grid-row: 2/3;
  grid-column: 4;
  padding-top: 1.5vw;
  padding-left: 4vw;
}
#contact-info i {
  font-size: 1.5vw;
  padding-right: 1vw;
  text-align: center;
  color: #666;
  /* background-color: red; */
}
#contact-info #logos {
  margin-bottom: 1vw;
}
#contact-info h4 {
  font-size: 1.1vw;
}
/** -------------------------------------------bottom-space----------------------------------- */

#bottom-space {
  width: 100%;
  height: 5%;
}
